body{
    padding: 1%;
  background-color: rgb(93, 98, 49);
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=600);
    /* background-repeat: no-repeat; */
    background-size: 100%;
}
.logo{
    height: 50px;
    box-shadow: 1px 1px 1px gray;
}
.xpel{
    height:50px;
    align-items: center;
}
button{
    height: 35px;
    margin-top: -5%;
  
   
    
}

#fullview{
    height: 365px;
    width: 100%;
    /* border: 4px red double; */
    margin-top: 5%;
    display: flex;
    flex-wrap: nowrap;
    opacity: .8;
    /* background-image: url(https://wallpaperaccess.com/full/7270362.gif); */
    /* background-repeat: no-repeat; */
    /* (https://cdn.wallpapersafari.com/35/51/bq1FrL.gif) */
   /* background-size: 100% 500px; */
   box-shadow: 1px 1px 1px 1px gray;
}
.photo{
    height: 300px;
    width: 280px;
    /* border: 4px double black; */
    margin-left: 10%;
    margin-top: 2%;
    box-shadow: 5px 5px 5px gray;
   
  
}
.me{
    height: 300px;
    width: 700px;
    /* border: 4px double black; */
    margin-left: 7%;
    margin-top: 2%;
    padding: 1%;

}
.me >p{
    margin-top: 5%;
}

h2{
box-shadow: 1px 0px 1px  gray;
}
.photo >img{
    height: 300px;
    width: 280px;

}
p{
    font-size: 20px;
}
u{
    font-weight:bold;
}
.double{
    height: 500px;
    width: 100%;
   /* border: 2px solid rgb(172, 101, 101); */
   display: flex;
   flex-wrap: nowrap;
   padding: 2%;
   box-shadow: 1px 1px 1px 1px gray;
}
#Skills{
height: 400px;
width: 44%;
/* border: 2px dotted black; */
 font-size: larger;
 /* border-right: 1px solid black; */
 box-shadow: 1px 1px 1px 1px gray;
}
#Skills >p{
    margin-top: 10%;
}

#Location{
    height: 400px;
    width: 35%;
    /* border: 2px dotted black; */
    margin-left: 12%;
    box-shadow: 1px 1px 1px 1px gray;
    
}
.pro{
    height: 500px;
    width: 100%;
   /* border: 2px solid rgb(172, 101, 101); */
   box-shadow: 1px 1px 1px 1px gray;
  
 
  
}
.pro1{
    height: 450px;
    width: 98%;
    /* border: 2px solid green; */
      display: flex; 
   flex-wrap: nowrap;
   position: absolute; 
   /* box-shadow: 1px 1px 1px 1px gray; */
  
}

.project1{
    height: 400px;
    width: 400px;
    /* border: 2px dotted rgb(115, 55, 55); */
    /* background-image: url("/New folder/project1.png");
    background-repeat: no-repeat;
   background-size: 100% 400px; */
  border-radius: 5%;
  margin-top: 2%;
  margin-left: 4.7%;
  background: transparent;
  box-shadow: 1px 1px 1px 1px gray;
}

.sclass{
    height: 224px;
    border-radius: 5%;
}
.one{
    font-size: 40px;
    text-align: center;
    /* margin-top: 30%; */
    color: rgb(234, 121, 76);
}
.one1{
    margin-left: 28%;
}
.projecttwo{
    display: grid;
}
.pclass{
    height: 120px;
   
}
 
h2:hover{
    color: rgb(139, 9, 50);
    font-size:40px;
}
u:hover{
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}



 @media screen and (max-width:900px){
    body{
        padding: 1%;
        background-image: url(https://img.freepik.com/free-vector/mosaic-patterned-background_53876-91674.jpg?size=626&ext=jpg);
    }
    #fullview{
        width: 140%;
        /* box-shadow: none; */
    }
    .double{
        width: 140%;
    }
    #Location{
        height: 400px;
        /* padding: 1%; */
        width: 46%;
        padding-left: .2%;
    }
    .pro{
        width: 140%;
    }
    .extra1{
        height: 200px;
        margin-top: -1%;
    }
    hr {
        background:none;
        clear:both;
        float:none;
        width:100%;
        height:1px;
        border:none;
        margin:-1px 0;
    }
    #pro{
        width: 140%;
    }
    footer{
        width: 140%;
    }
    .sclass{
        width: 330px;
    }
    .pclass{
        width: 330px;
    }
    .one1{
        margin-left: 0;
    }
} 

@media screen and (max-width:400px){
    body{
        width: auto;
        /* background-image: url(https://img.freepik.com/premium-vector/vector-seamless-pink-grey-pattern-circles-squares-dots_107335-331.jpg?size=626&ext=jpg); */
        background-image: url(https://img.freepik.com/free-vector/realistic-paper-style-abstract-ornamental-background_79603-2432.jpg?w=2000);
    }
    .xpel{
        height: 70px;
    }
   .logo{
    /* display: none; */
   margin-left: 780px;
   }
    button{
        height: 40px;
        margin-top: -10%;
      
    }
    .bars{
        margin-right: 5%;
    }
    .photo{
        box-shadow: none;
    }
    .photo >img{
        height: 200px;
        width: 180px;
        margin-top: 35%;
        /* box-shadow: none; */
    }
    #fullview{
        width: 250%;
        /* box-shadow: none; */
    }
    .me{
        height: 300px;
        width: 700px;
        /* border: 4px double black; */
        margin-left: 7%;
        margin-top: 4%;
        padding: 1%;
    }   
    .double{
        height: 500px;
        width: 250%;
       /* border: 2px solid rgb(172, 101, 101); */
       display: flex;
       flex-wrap: nowrap;
       padding: 2%;
       box-shadow: none
    } 
    #Location{
        height: 400px;
        width: 75%;
        /* border: 2px dotted black; */
        margin-left: 12%;
        box-shadow: 1px 1px 1px 1px gray;
       padding: 1%;
    }
    .pro{
        width: 250%;
        height: 750px;
    }  
    .extra1{
        height: 310px;
        width: 300px;
        flex-wrap: wrap;
    } 
    .sclass{
        width: 200px;
        height: 100px;
    }
    .pclass{
        height: 30px;
    }
    .one1{
        margin-left: 2%;
    }
    .pro1{
        display: contents;
       
    }
    .project1{
        width: 90%;
        height:215px;
    }
    
       
      
   
    .one{
        font-size: 30px;
    }
    #pro{
        width: 250%;
    }
    footer{
        width: 250%;
    }
    .container-fluid > button{
          margin-top: 0%;
          height: 40px;
          margin-right: 3%;
    }
}
